.third-party {
  display: grid;
  gap: var(--gap-md);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.third-party .btn {
  width: 100%;
  justify-content: center;
  vertical-align: middle;
}

.third-party .btn svg {
  margin-right: var(--gap-sm);
  width: 1.25rem;
  height: 1.25rem;
}

.discord-btn {
  color: #ffffff;
  background-color: #5865f2;
}
.apple-btn {
  color: var(--color-accent-contrast);
  background-color: var(--color-contrast);
}
.google-btn {
  color: #ffffff;
  background-color: #4285f4;
}
.gitlab-btn {
  color: #ffffff;
  background-color: #fc6d26;
}
.github-btn {
  color: #ffffff;
  background-color: #8740f1;
}
.microsoft-btn {
  color: var(--color-accent-contrast);
  background-color: var(--color-contrast);
}

.text-divider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.text-divider div {
  height: 2px;
  width: 100%;
  max-width: 5rem;
  opacity: 40%;
  border-radius: var(--radius-max);
  background-color: var(--color-base);
}

.text-divider span {
  margin-inline: var(--gap-sm);
}

@media screen and (max-width: 25.5rem) {
  .third-party .btn {
    grid-column: 1 / 3;
  }
}
